<div class="row">
  <% data.local_data.projects.each do |project, attrs| %>
    <article class="column">
      <h1><%= attrs.name %></h1>
      <div class="ui small image">
        <img src="<%= attrs.screenshot %>" alt="<%= attrs.name %>">
      </div>
      <section class="info">
        <% if !attrs.tags.empty? %>
          <div class="ui mini labels tags">
            <% attrs.tags.each do |tag| %>
              <div class="ui label"><%= tag %></div>
            <% end %>
          </div>
        <% end %>
        <p><%= attrs.description %></p>
        <% if attrs.tags.include?("develop") %>
          <a href="<%= attrs.github %>"><i class="code icon"></i></a>
        <% end %>
        <div class="extra"><%= attrs.extra %></div>
      </section>
    </article>
  <% end %>
</div>