<section class="ui cards centered">
  <% current_page.data.projects.each do |project, attrs| %>
    <div class="card">
      <div class="image">
        <img src="<%= attrs.screenshot %>">
      </div>
      <div class="content">
        <div class="header"><%= attrs.name %></div>
        <div class="meta">
          <div class="ui label mini"><%= attrs.tag %></div>
        </div>
        <div class="description">
          <%= attrs.description %>
        </div>
      </div>
      <div class="extra content">
        <span class="right floated"><%= attrs.extra %></span>
        <span>
          <a href="<%= attrs.github %>"><i class="fa fa-code"></i></a>
        </span>
      </div>
    </div>
  <% end %>
</section>
